
<div class="row" style="margin-left:10px;">
    <div class="col-lg-4 col-md-4">
        <div class="input-group">
            <input class="form-control input-sm" name="recordDate_{{recordInfo.Id}}"
                   ng-model="recordInfo.RecordDate"
                   required
                   datepicker-popup="MM/dd/yyyy" show-button-bar="true" show-weeks="false" is-open="opened"
                   type="text" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-sm" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="form-group">
            <input class="form-control input-sm" ng-model="recordInfo.Value" type="number" />
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="form-group">
            <select ng-model="recordInfo.UnitOfMeasureId"
                    ng-options="unit.Id as unit.Name for unit in recordInfo.units"
                    class="form-control input-sm"></select>
        </div>
    </div>
    <div class="col-lg-2 col-md-2">
        <button class="btn btn-info btn-sm" type="button" ng-click="saveEditPR()" tooltip="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
        <button class="btn btn-info btn-sm" type="button" ng-click="saveEditPR()" tooltip="Delete"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
</div>

