<form name="newPrForm" novalidate>
    <div class="panel panel-diggity">
        <div class="panel-body">
            <div class="col-lg-12">
                <button type="button" class="close" ng-click="hideEnterPrForm()" tooltip="Close">
                    <span class="text-primary">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label class="control-label">Exercise</label>
                    <select name="uExerciseList" class="form-control" required ng-hide="loadingExercises"
                            ng-options="exercise as exercise.Name for exercise in exerciseList"
                            ng-model="newPR.Exercise"
                            ng-class="{error: newPrForm.uExerciseList.$error.required && prInvalid}"
                            ng-change="onExerciseSelect()"></select>
                    <span class="form-control" ng-show="loadingExercises"><i class="fa fa-circle-o-notch fa-spin"></i> Loading...</span>
                    <label ng-show="newPrForm.uExerciseList.$error.required && prInvalid" class="text-danger">Required!</label>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="form-group">
                    <label class="control-label">Date</label>
                    <div class="input-group">
                        <input class="form-control" name="uRecordDate"
                               ng-model="newPR.RecordDate"
                               ng-class="{error: newPrForm.uRecordDate.$error.required && prInvalid}"
                               required
                               datepicker-popup="MM/dd/yyyy" show-button-bar="true" show-weeks="false" is-open="opened"
                               type="text" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <label ng-show="newPrForm.uRecordDate.$error.required && prInvalid" class="text-danger">Required!</label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label class="control-label">{{valuePlaceholder}}</label>
                    <input name="uValue" class="form-control"
                           id="maxWeight"
                           ng-model="newPR.Value" type="number"
                           ng-class="{error: newPrForm.uValue.$error.required && prInvalid}" required />
                    <label ng-show="newPrForm.uValue.$error.required && prInvalid" class="text-danger">Required!</label>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label class="control-label">Units</label>
                    <select name="uUnits"
                            ng-model="newPR.Unit"
                            ng-options="unit as unit.Name for unit in unitsList"
                            ng-change="onUnitSelected(this)"
                            ng-class="{error: newPrForm.uUnits.$error.required && prInvalid}"
                            required
                            class="form-control"></select>
                    <label ng-show="newPrForm.uUnits.$error.required && prInvalid" class="text-danger">Required!</label>
                </div>
            </div>
            <div class="col-lg-1 col-md-1">
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <button class="form-control btn-default" type="button" ng-click="savePR()" tooltip="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                </div>
            </div>
        </div>
    </div>
</form>
