
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="col-lg-6 panel-title">PR's</div>
        <div class="col-lg-6">
            <label class="control-label col-lg-4 text-right">Show:</label>
            <div class="col-lg-8">
                <select class="form-control input-sm"
                        ng-model="sortOption"
                        ng-options="option.id as option.value for option in historySortOptions"
                        ng-change="sortHistoy(sortOption)"></select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table table-condensed table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Units</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="history in exerciseHistory">
                <td>{{history.ExerciseName}}</td>
                <td>{{history.RecordDate}}</td>
                <td>{{history.Value}}</td>
                <td>{{history.UnitsName}}</td>
            </tr>
        </tbody>
    </table>
</div>
