
<div class="form-group animate-show" id="assistance_exercise_form" style="margin-left: 46px;" ng-show="showAssistanceExerciesForm">
    <div class="">
        <div class="radio radio-success" ng-repeat="opt in assistanceOptions">
            <label>
                <input type="radio" name="assistance"
                       ng-value="opt.option"
                       ng-click="setAssistanceOption(opt)"
                       ng-model="assistanceOption.option" />
                <span class="circle"></span>
                <span class="check"></span>
                {{opt.text}}
            </label>
        </div>
    </div>
</div>
