

<div class="modal fade" id="assistanceExericiseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Assistance Exercise</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <div class="radio radio-success" ng-repeat="opt in assistanceOptions">
                            <label>
                                <input type="radio" name="assistance" ng-value="opt.option"
                                       ng-model="assistanceOption.option" />
                                <span class="circle"></span>
                                <span class="check"></span>
                                {{opt.text}}
                            </label>
                        </div>
                    </div>
                </div>

                <p>
                    To roll your own: <br/>
                    1. Select the main lift you are adding assistance.<br/>
                    2. Select an exercise to compliment the main lift. <br/>
                    3. Edit the number of sets and reps as you see fit. <br/>
                    
                </p>
            </div>
        </div>
    </div>
</div>
