
<div class="form-group animate-show" id="boring_but_big_form" style="margin-left: 46px;" ng-show="showBoringButBigForm">
    <div>
        <div class="radio radio-success" ng-repeat="opt in boringButBigOptions">
            <label>
                <input type="radio" name="boring" ng-value="opt.option"
                       ng-click="boringOptionSelected(opt)"
                       ng-model="boringOption.option" />
                <span class="circle"></span>
                <span class="check"></span>
                {{opt.text}}
            </label>
        </div>
    </div>
</div>

