
<div class="form-group" style="margin-left: 46px;" id="days_per_week_form" ng-show="showDaysPerWeekForm">
    <div class="">
        <div class="radio radio-success" ng-repeat="opt in daysPerWeekOptions">
            <label>
                <input type="radio" name="days" ng-value="opt.option"
                       ng-click="daysPerWeekSelected(opt)"
                       ng-model="daysPerWeek.option" />
                <span class="circle"></span>
                <span class="check"></span>
                {{opt.text}}
            </label>
        </div>
    </div>
</div>