
<div class="container">
    <form class="form-horizontal">
        
        <div class="panel non-printable">
            <div class="panel-body">
                <div class="diggity-panel-header">
                    <a class="panel-toggle" ng-click="hideShowContent('program-header-icon')">
                        <i id="program-header-icon" class="fa fa-arrow-up diggity-transition"></i>
                    </a>
                    <h2 class="mdi-material-teal-900">Program</h2>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <label class="list-group-item-heading col-lg-1">Name</label>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" placeholder="It's your workout. Name it, Find it'"/>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#daysPerWeekOptionsModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Days Per Week</h5>
                            <div class="list-group-item-text">
                                {{daysPerWeek.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#trainingPercentOptionsModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Training Percentages</h5>
                            <div class="list-group-item-text">
                                {{trainingPercent.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#assistanceExericiseModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Template</h5>
                            <div class="list-group-item-text">
                                {{assistanceOption.text}}
                            </div>
                        </div>
                    </a>
                    <div ng-show="assistanceOption.option == 2">
                        <div class="list-group-separator"></div>
                        <a class="list-group-item" data-toggle="modal" data-target="#boringOptionsModal">
                            <div class="row-action-primary">
                                <i class="mdi-image-edit"></i>
                            </div>
                            <div class="row-content">
                                <div class="least-content">Click to change</div>
                                <h5 class="list-group-item-heading text-bold">Boring Percent</h5>
                                <div class="list-group-item-text">
                                    {{boringOption.text}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default non-printable">
            <div class="panel-body">
                <div class="diggity-panel-header">
                    <a class="panel-toggle" ng-click="hideShowContent('program-exercise-icon')">
                        <i id="program-exercise-icon" class="fa fa-arrow-up diggity-transition"></i>
                    </a>
                    <h2 class="mdi-material-teal-900">Main Lifts</h2>
                </div>
                <div class="list-group">
                    <div ng-repeat="exercise in wenderExercises | orderBy:'WendlerGroupId'">
                        <a class="list-group-item" data-toggle="modal" data-target="#liftingOptionsModal" ng-click="setSelectedExercise(exercise)">
                            <div class="row-picture">
                                <img src="../../Content/images/barbell.png" style="background: none;"/>
                            </div>
                            <div class="row-content">
                                <div class="least-content">Record Date - {{exercise.RecordDate}}</div>
                                <h4 class="list-group-item-heading">{{exercise.ExerciseName}}</h4>
                                <div class="list-group-item-text">
                                    <h4>
                                        <span class="text-bold">One Rep Max</span> <span> {{exercise.Value}} {{exercise.UnitsName}}</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="text-bold">Training Max</span> <span> {{exercise.TrainingMax}} {{exercise.UnitsName}}</span>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default non-printable">
            <div class="panel-body">
                <div class="diggity-panel-header">
                    <a class="panel-toggle">
                        <i class="fa fa-plus diggity-transition" data-toggle="modal" data-target="#editAssistanceExerciseModal"></i>
                        <i id="program-assistance-icon" ng-click="hideShowContent('program-assistance-icon')"
                           class="fa fa-arrow-up diggity-transition"></i>
                    </a>
                    <h2 class="mdi-material-teal-900">Assistance Exercises</h2>
                </div>
                <div class="list-group">
                    <div ng-repeat="asst in customAssistanceExercises | orderBy:'WendlerGroupId'">
                        <a class="list-group-item" data-toggle="modal" data-target="#editAssistanceExerciseModal" ng-click="">
                            <div class="row-picture">
                                <img src="../../Content/images/barbell.png" style="background: none;" />
                            </div>
                            <div class="row-content">
                                <div class="least-content">Click to edit</div>
                                <h2 class="list-group-item-heading" style="font-size: 25px;">{{asst.mainExerciseName}}</h2>
                                <div class="list-group-item-text">
                                    <div ng-repeat="ex in asst.exercises">
                                        <h4>{{ex.exerciseName}}</h4>
                                        <div ng-repeat="set in ex.sets">
                                            {{set.reps}} Reps X {{set.weight}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <button class="btn btn-primary" style="float: right;" type="button" ng-click="createWendler()">Create</button>
        </div>
        <div class="clearfix"></div>
        <br/>

        <wendler-workout-month></wendler-workout-month>

        <!-- modal directives -->
        <edit-assistance-exercise-modal></edit-assistance-exercise-modal>
        <assistance-exercise-modal></assistance-exercise-modal>
        <boring-radio-group></boring-radio-group>
        <training-percent-radio-group></training-percent-radio-group>
        <lifting-option-modal></lifting-option-modal>
        <days-per-week-option-modal></days-per-week-option-modal>

    </form>
</div>

