

<div class="container">
    <form class="form-horizontal">

        <div class="panel panel-material-teal-900">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="gym gym-barbell gym-xx-large"></span>
                    <h2 style="display: inline-block"> Wendler 5/3/1</h2>
                    <div id="wendler_title" style="margin-left: 60px;"></div>
                </div>
            </div>
            <div class="panel-body">
                <p> Comming Soon!</p>
                <ul>
                    <li>List of pervious wendlers</li>
                    <li>option to bumb weights up</li>
                </ul>
            </div>
        </div>


        <div class="panel non-printable">
            <div class="panel-body">
                <div class="diggity-panel-header">
                    <a class="panel-toggle" ng-click="hideShowContent('program-header-icon')">
                        <i id="program-header-icon" class="fa fa-arrow-up diggity-transition"></i>
                    </a>
                    <h2 class="mdi-material-teal-900">Program</h2>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <label class="list-group-item-heading col-lg-1">Name</label>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" placeholder="It's your workout. Name it, Find it'"/>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#daysPerWeekOptionsModal">
                        <div class="row-picture">
                            <span class="fa fa-calendar fa-2x"></span>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Days Per Week</h5>
                            <div class="list-group-item-text">
                                {{daysPerWeek.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>

                    <a class="list-group-item" data-toggle="modal" data-target="#trainingPercentOptionsModal">
                        <div class="row-picture">
                            <span class="fa fa-2x fa-edit"></span>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Training Percentages</h5>
                            <div class="list-group-item-text">
                                {{trainingPercent.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>

                    <a class="list-group-item" data-toggle="modal" data-target="#assistanceExericiseModal">
                        <div class="row-picture">
                            <span class="fa fa-2x fa-edit"></span>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Template</h5>
                            <div class="list-group-item-text">
                                {{assistanceOption.text}}
                            </div>
                        </div>
                    </a>

                    <div ng-show="assistanceOption.option == 2">
                        <div class="list-group-separator"></div>
                        <a class="list-group-item" data-toggle="modal" data-target="#boringOptionsModal">
                            <div class="row-picture">
                                <span class="fa fa-2x fa-edit"></span>
                            </div>
                            <div class="row-content">
                                <div class="least-content">Click to change</div>
                                <h5 class="list-group-item-heading text-bold">Boring Percent</h5>
                                <div class="list-group-item-text">
                                    {{boringOption.text}}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default non-printable">
            <div class="panel-body">
                <div class="diggity-panel-header">
                    <a class="panel-toggle" ng-click="hideShowContent('program-exercise-icon')">
                        <i id="program-exercise-icon" class="fa fa-arrow-up diggity-transition"></i>
                    </a>
                    <h2 class="mdi-material-teal-900">Main Lifts</h2>
                </div>
                <div class="list-group">
                    <div ng-repeat="exercise in wenderExercises | orderBy:'WendlerGroupId'">
                        <a class="list-group-item" data-toggle="modal" data-target="#liftingOptionsModal" ng-click="setSelectedExercise(exercise)">
                            <div class="row-picture">
                                <span class="gym gym-barbell gym-x-large"></span>
                            </div>
                            <div class="row-content">
                                <div class="least-content">Record Date - {{exercise.RecordDate}}</div>
                                <h4 class="list-group-item-heading">{{exercise.ExerciseName}}</h4>
                                <div class="list-group-item-text">
                                    <h4>
                                        <span class="text-bold">One Rep Max</span> <span> {{exercise.Value}} {{exercise.UnitsName}}</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="text-bold">Training Max</span> <span> {{exercise.TrainingMax}} {{exercise.UnitsName}}</span>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="non-printable">
            <div class="col-lg-12">
                <button class="btn btn-primary" style="float: right;" type="button" ng-click="createWendler()">Create</button>
            </div>
            <div class="clearfix"></div>
            <br/>
        </div>

        <wendler-workout-month></wendler-workout-month>

        <!-- modal directives -->
        <edit-assistance-exercise-modal></edit-assistance-exercise-modal>
        <assistance-exercise-modal></assistance-exercise-modal>
        <boring-radio-group></boring-radio-group>
        <training-percent-radio-group></training-percent-radio-group>
        <lifting-option-modal></lifting-option-modal>
        <days-per-week-option-modal></days-per-week-option-modal>

    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#wendler_title").text(window.currentUser);
        })
    </script>
</div>


