
<div class="container">
    <form class="form-horizontal">
        <div class="panel">
            <div class="panel-body">
                <h2 class="mdi-material-teal-900">Program</h2>
                <hr />
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row-content">
                            <label class="list-group-item-heading col-lg-1">Name</label>
                            <div class="col-lg-11">
                                <input type="text" class="form-control" placeholder="It's your workout. Name it, Find it'" />
                            </div>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#daysPerWeekOptionsModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Days Per Week</h5>
                            <div class="list-group-item-text">
                                {{daysPerWeek.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#trainingPercentOptionsModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Training Percentages</h5>
                            <div class="list-group-item-text">
                                {{trainingPercent.text}}
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                    <a class="list-group-item" data-toggle="modal" data-target="#boringOptionsModal">
                        <div class="row-action-primary">
                            <i class="mdi-image-edit"></i>
                        </div>
                        <div class="row-content">
                            <div class="least-content">Click to change</div>
                            <h5 class="list-group-item-heading text-bold">Boring but Big </h5>
                            <div class="list-group-item-text">
                                {{boringOption.sets}} X {{boringOption.reps}} @ {{boringOption.percent}}%
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="mdi-material-teal-900">Work</h2>
                <hr />
                <div class="list-group">
                    <div ng-repeat="exercise in wenderExercises | orderBy:'WendlerGroupId'">
                        <a class="list-group-item" data-toggle="modal" data-target="#liftingOptionsModal" ng-click="setSelectedExercise(exercise)">
                            <div class="row-picture">
                                <img src="../../Content/images/dumbbell.png" style="background: none;" />
                            </div>
                            <div class="row-content">
                                <div class="least-content">Record Date - {{exercise.RecordDate}}</div>
                                <h4 class="list-group-item-heading">{{exercise.ExerciseName}}</h4>
                                <div class="list-group-item-text">
                                    <h4>
                                        <span class="text-bold">One Rep Max</span> <span> {{exercise.Value}} {{exercise.UnitsName}}</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="text-bold">Training Max</span> <span> {{exercise.TrainingMax}} {{exercise.UnitsName}}</span>
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="list-group-separator"></div>
                    </div>
                </div>

                <button class="btn btn-flat btn-primary" type="button" ng-click="createWendler()">Create</button>
            </div>
        </div>

        <div class="panel panel-material-deep-orange-900" ng-repeat="week in wendlerProgram">
            <h3 class="panel-heading">Week {{week.week}}</h3>
            <div class="panel-body">
                <div class="list-group">
                    <div class="list-group-item" ng-repeat="day in week.trainingDays">
                        <h3 class="list-group-item-heading">{{day.exercise}}</h3>
                        <div class="list-group-item-text">
                            <div class="col-lg-3">
                                <span class="text-bold">Max Weight</span> <span> {{day.maxWeight}}</span>
                                <br/>
                                <span class="text-bold">Training Weight</span> <span> {{day.trainingWeight}}</span>
                            </div>

                            <div class="col-lg-3">
                                <h4>Warm Up</h4>
                                <div ng-repeat="warm in day.warmUp">
                                    {{warm.reps}} Reps X {{warm.weight}} lbs
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <h4>Work</h4>
                                <div ng-repeat="work in day.workout">
                                    {{work.reps}} Reps X {{work.weight}} lbs
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="list-group-separator"></div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal directives -->
        <boring-radio-group></boring-radio-group>
        <training-percent-radio-group></training-percent-radio-group>
        <lifting-option-modal></lifting-option-modal>
        <days-per-week-option-modal></days-per-week-option-modal>

    </form>
</div>

