

<div class="panel animate-show" ng-show="selectedExercise.showForm">
    <div class="panel-body">
        <h5>To estimate one rep max, take 80% of you supposed max and perform as many reps as possible. Then enter the information below and click calculate</h5>
        <div class="form-group">
            <div class="form-group">
                <label class="col-lg-1 col-md-1 col-sm-1 control-label"></label>
                <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;">
                    <input type="number" class="form-control" ng-model="selectedExercise.estimateWeight" placeholder="Weight" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top: 15px;">
                    X
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 10px;">
                    <input class="form-control" type="number" ng-model="selectedExercise.estimateReps" placeholder="Reps" />
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <button type="button" ng-click="calculateMax()" class="btn btn-primary"><i class="fa fa-check"></i> Calculate</button>
                </div>
            </div>

        </div>
        <h5>If you know your one rep max, enter it below</h5>
        <div class="form-group">
            <label class="col-lg-3 control-label">1 Rep Max</label>
            <div class="col-lg-6">
                <input type="number" class="form-control" ng-model="selectedExercise.Value" ng-change="updateTrainingMax()" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Training Max</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" disabled="disabled" ng-model="selectedExercise.TrainingMax" />
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-default" ng-click="selectedExercise.showForm = false;">Close</button>
        </div>
    </div>
</div>
