
<div class="modal fade" id="trainingPercentOptionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Training Percentages</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-lg-2 control-label"></label>
                    <div class="col-lg-10">
                        <div class="radio radio-success" ng-repeat="opt in traningPercentOptions">
                            <label>
                                <input type="radio" name="trainingPercent"
                                       ng-click="trainingPercentOptionSelected(opt)"
                                       ng-model="trainingPercent.option"
                                       ng-value="opt.option" />
                                <span class="circle"></span>
                                <span class="check"></span>
                                <div class="text-bold">{{opt.text}}</div>
                                {{opt.description}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>