


<div class="form-group animate-show" id="training_percent_form" style="margin-left: 46px;" ng-show="showTrainingPercentOptions">
    <div class="">
        <div class="radio radio-success" ng-repeat="opt in traningPercentOptions">
            <label>
                <input type="radio" name="trainingPercent"
                       ng-click="trainingPercentOptionSelected(opt)"
                       ng-model="trainingPercent.option"
                       ng-value="opt.option" />
                <span class="circle"></span>
                <span class="check"></span>
                <div class="text-bold">{{opt.text}}</div>
                {{opt.description}}
            </label>
        </div>
    </div>
</div>