
<div id="workout_week_{{week.week}}" class="panel panel-material-deep-orange-900 non-printable workout-week"
     ng-repeat="week in wendlerProgram">
    <div class="panel-heading workout-week-heading">
        <h3 class="workout-week-title">
            Week {{week.week}}
        </h3>
        <div class="btn-group btn-group-sm print-btn-group">
            <a href="javascript:void(0)" class="btn btn-flat" style="float: right;">
                <i style="color: #ffffff;" class="fa fa-arrow-down"></i>
            </a>
            <a href=" javascript:void(0)" data-target="#" style="float:right;"
               class="btn btn-flat dropdown-toggle" data-toggle="dropdown">
                <i style="color: #ffffff;" class="fa fa-print"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" ng-click="printWeek(week.week)">Print Week {{week.week}}</a></li>
                <li><a href="javascript:void(0)" ng-click="printMonth()">Print Month</a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="col-lg-3 workout-col" ng-class="{last: 3 === $index}"
             ng-repeat="day in week.trainingDays | orderBy:'groupId'">
            <h3>{{day.exercise}}</h3>
            <div class="">
                <div class="col-lg-12">
                    <span class="text-bold">Max Weight</span> <span> {{day.maxWeight}}</span>
                    <br />
                    <span class="text-bold">Training Weight</span> <span> {{day.trainingWeight}}</span>
                </div>

                <div class="col-lg-12">
                    <h4 class="short-underline">Warm Up</h4>
                    <div ng-repeat="warm in day.warmUp">
                        {{warm.reps}} Reps X {{warm.weight}} <span style="float: right;">{{warm.percent}}%</span>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h4 class="short-underline">Work</h4>
                    <div ng-repeat="work in day.workout">
                        {{work.reps}}<span ng-show="work.maxEffort">+</span> Reps X {{work.weight}} <span style="float: right;">{{work.percent}}%</span>
                    </div>
                </div>

                <div class="col-lg-12" ng-show="day.boringButBig">
                    <h4 class="short-underline">Boring</h4>
                    <div ng-repeat="big in day.boringButBig">
                        {{big.reps}} Reps X {{big.weight}} <span style="float: right;">{{big.percent}}%</span>
                    </div>
                </div>

                <div class="col-lg-12" ng-repeat="asst in day.assistanceExercises">
                    <h4 class="short-underline">{{asst.exerciseName}}</h4>
                    <div ng-repeat="set in asst.sets">
                        {{set.reps}} Reps X {{set.weight}}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="list-group-separator"></div>
            <br />
        </div>
    </div>
</div>
