

<div id="main_menu" class="panel panel-material-grey-800 diggity-panel diggity-menu diggity-menu-transition">

    <div class="panel-heading">
        <div class="panel-title">
            <h2>Woddiggity</h2>
        </div>
    </div>

    <div class="main">
        <div class="list-group">
            @if (User.Identity.IsAuthenticated)
            {
            
                if (User.IsInRole("Admin"))
                {

                    <a href="#exerciseType" class="list-group-item">
                        <h5 class="text-diggity" style="font-weight: bold">
                            <i class="fa fa-list diggity-list-icon"></i> Exercise Types
                        </h5>
                    </a>

                    <a href="#unitOfMeasure" class="list-group-item">
                        <h5 class="text-diggity" style="font-weight: bold">
                            <i class="fa fa-flask diggity-list-icon"></i> Unit of Measure
                        </h5>
                    </a>

                    <a href="#exercise" class="list-group-item">
                        <h5 class="text-diggity" style="font-weight: bold">
                            <i class="fa fa-database diggity-list-icon"></i> Exercises
                        </h5>
                    </a>
                    <hr/>

                }

                <!-- Dashboard-->
                <a href="#user" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-tachometer diggity-list-icon"></i> Dashboard
                    </h5>
                </a>

                <hr/>

                <!-- Today's WOD-->
                <a href="#wod" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-cube diggity-list-icon"></i> Today's WOD
                    </h5>
                </a>


                <!--Today's Workout-->
                <a href="#liftingWorkouts" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-database diggity-list-icon"></i> Today's Lift
                    </h5>
                </a>

                <!--Personal Records-->
                <a href="#pr" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-trophy diggity-list-icon"></i> Personal Records
                    </h5>
                </a>

                <!--Create Wendler-->
                <a href="#wendler/create" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-edit diggity-list-icon"></i> Wendler 5/3/1
                    </h5>
                </a>

                <!--Create Custom Workout-->
                <a href="#liftingWorkouts/create" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-edit diggity-list-icon"></i> DYI Program
                    </h5>
                </a>

                <!--Timer-->
                <a href="#timer" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-clock-o diggity-list-icon"></i> Timer
                    </h5>
                </a>

                <hr/>

                <!--Settings-->
                <a href="#settings" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-cog diggity-list-icon"></i> Settings
                    </h5>
                </a>

                <!--Log off-->
                using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm"}))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();" class="list-group-item">
                        <h5 class="text-diggity" style="font-weight: bold">
                            <i class="fa fa-user diggity-list-icon"></i> Log off
                        </h5>
                    </a>
                }

            }
            else
            {
                <a href="Account/LogIn" class="list-group-item">
                    <h5 class="text-diggity" style="font-weight: bold">
                        <i class="fa fa-user diggity-list-icon"></i> Log In
                    </h5>
                </a>
            }
        </div>
    </div>

    <footer>
        <hr style="margin: 2px;" />
        <h5>&copy; Woddigity  <a href="#">About</a></h5>

    </footer>
</div>

