<div ng-show="loading">
    <h2><i class="fa fa-2x fa-spin fa-spinner"></i> Loading Unit . . .</h2>
</div>

<form role="form" ng-hide="loading">

    <div class="panel panel-material-blue-grey-600">
        <div class="panel-heading">
            <div class="col-lg-9 panel-title"><a class="fa fa-backward" href="#/unitOfMeasure" tooltip="Return to Units Of Measure List"></a> Unit of Measure</div>
            <div class="col-lg-3">
                <div class="btn-group pull-right">
                    <button class="btn btn-link btn-sm btn-navigation" ng-hide="isEditing" class="btn btn-link" type="button" ng-click="deleteRecord()"><i class="fa fa-trash-o"></i></button>
                    <button class="btn btn-link btn-sm btn-navigation" ng-hide="isEditing" class="btn btn-link" type="button" ng-click="editRecord()"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-link btn-sm btn-navigation" ng-show="isEditing" class="btn btn-link" type="button" ng-click="saveUnit()"><i class="fa fa-save"></i></button>
                    <button class="btn btn-link btn-sm btn-navigation" ng-show="isEditing && unit.Id != null" class="btn btn-link" type="button" ng-click="cancelEdit()"><i class="fa fa-times-circle"></i></button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body">
            <!-- Edit Record -->
            <div ng-show="isEditing">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" id="name" type="text" ng-model="unit.Name" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <textarea class="form-control" id="description" rows="5" ng-model="unit.Description"></textarea>
                </div>
            </div>

            <!-- View Record-->
            <div ng-hide="isEditing">
                <div class="form-group">
                    <label class="control-label">Name:</label>
                    <label>{{unit.Name}}</label>
                </div>

                <div class="form-group">
                    <label class="control-label">Description:</label>
                    <label>{{unit.Description}}</label>
                </div>
            </div>
        </div>
    </div>

</form>
