
<div ng-app="myApp">
    
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            <div ng-controller="HomeCtrl" ng-init="redirectToUserPage()"></div>
            <div ng-view></div>
        }
        else
        {
            <title-page></title-page>
        }
    </div>

    <one-rep-max-form></one-rep-max-form>

</div>



