
<div ng-app="myApp">
    
    <div class="container">
        @if (Request.IsAuthenticated)
        {
            <div ng-controller="HomeCtrl" ng-init="redirectToUserPage('@User.Identity.Name')"></div>
            <div ng-view autoscroll="true"></div>
        }
        else
        {
            <title-page></title-page>
        }
    </div>

</div>



