<!doctype html>
<html lang="en" id="ng-app" ng-app="myApp">
    <head>
        <title>WOD Diggity</title>
    </head>
    <body>
        <div ng-view></div> 
        
        <div id="alertPopup" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="alert alert-block" style="margin-bottom: 0">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                        <p id="alertMessage" style="font-size: 1.3em;"></p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <script type="text/javascript">
            function alertShow(notificationType, data, callback) {
                $("#alertPopup h4").html('');
                $("#alertPopup .alert").removeClass("alert-success");
                $("#alertPopup .alert").removeClass("alert-danger");
                $("#alertPopup .alert").removeClass("alert-warning");

                var delay = 5000;

                if (notificationType === "error") {
                    $("#alertPopup .alert").addClass("alert-danger");
                    $("#alertPopup h4").html("Error!");
                    $("#alertMessage").text(data);
                } else if (notificationType === 'warning') {
                    $("#alertPopup .alert").addClass("alert-warning");
                    $("#alertPopup h4").html("Warning");
                    $("#alertMessage").text(data);
                } else if (notificationType === 'success') {
                    $("#alertPopup .alert").addClass("alert-success");
                    $("#alertPopup h4").html("Success!");
                    $("#alertMessage").text(data || "Record Saved Successfully!");
                    delay = 2500;
                }

                $("#alertPopup").modal({ backdrop: false }).modal('show');

                if (notificationType !== "error") {
                    window.setTimeout(function() {
                        $("#alertPopup").modal('hide');
                        if (callback) callback();
                    }, delay);
                }
            }
        </script>
    </body>
</html>