/*
	styles for select
*/
.cusel,
.cusel .cusel-scroll-wrap,
.cusel .jScrollPaneContainer,
.cusel .cusel-scroll-pane { width: 100% !important; }

.cusel {
    cursor: pointer;
    display: inline-block;
    height: 43px;
    padding: 0 30px 0 12px;
    position: relative;
    z-index: 2;
}

.cuselOpen { z-index: 9999; }

.payment-form .cusel { width: 100% !important; }

.cuselFrameRight {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    z-index: 2;
}

.cuselFrameRight:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #7b8a97;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 14px;
    top: 19px;
    width: 0;
}

.cusel:hover .cuselFrameRight:after,
.cuselFocus .cuselFrameRight:after { border-top-color: #333; }

.cuselText {
    color: #7b8a97;
    cursor: pointer;
    font-weight: 400;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    text-transform: uppercase;
    white-space: nowrap;
}

.cusel span {
    border-bottom: 1px solid #ECEFF1;
    color: #97a2ad;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    overflow: hidden;
    padding: 11px 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
}

@media (max-width: 479px) {
    .cusel span {
        font-size: 12px;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 5px;
        text-transform: none;
    }
}

.cusel span:first-child { display: none; }

.cusel span:last-child { border-bottom: 0 none; }

.cusel span:hover,
.cusel span.cuselActive { color: #333; }

.cusel span.cuselActive { cursor: default; }

.cusel .cusel-scroll-wrap {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 1px solid transparent;
    box-sizing: content-box;
    display: block;
    left: -2px;
    min-width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    visibility: hidden;
    width: auto;
    z-index: 200;
}

.cusel .jScrollPaneContainer {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background: #FFF;
    border: 1px solid #ECEFF1;
    border-top: 0 none;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.cusel .jScrollPaneTrack {
    background: #3BBEC0;
    height: 100%;
    position: absolute;
    right: 4px;
    top: 0;
    width: 7px !important;
}

.cusel .jScrollPaneDrag {
    background: #3BBEC0;
    cursor: pointer;
    height: 27px !important;
    position: absolute;
    right: -4px;
    width: 15px !important;
}