.range-slider { margin: 24px 0 20px; }

.jslider {
    display: block;
    position: relative;
    width: 100%;
}

.jslider table {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.jslider td, .jslider th {
    border: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.jslider table,
.jslider table tr,
.jslider table tr td {
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.jslider .jslider-bg { position: relative; }

.jslider .jslider-bg i {
    border: 1px solid #eceff1;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #d1d9dd;
    font-size: 0;
    height: 8px;
    margin: 0;
    position: absolute;
    top: 0;
}

.jslider .jslider-bg .l {
    -webkit-box-shadow: inset 1px 2px 3px -1px #ced6db;
    border-radius: 4px 0 0 4px;
    border-right: 0 none;
    box-shadow: inset 1px 2px 3px -1px #ced6db;
    left: 0;
    width: 50%;
}

.jslider .jslider-bg .r {
    -webkit-box-shadow: inset -1px 2px 3px -1px #ced6db;
    border-left: 0 none;
    border-radius: 0 4px 4px 0;
    box-shadow: inset -1px 2px 3px -1px #ced6db;
    left: 50%;
    width: 50%;
}

.jslider .jslider-bg .v {
    background: #ebc85e;
    border: 0 none;
    height: 8px;
    left: 20%;
    position: absolute;
    top: 0;
    width: 60%;
    z-index: 1;
}

.jslider .jslider-pointer {
    background: #fff;
    border: 9px solid #7b8a97;
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    margin-left: -12px;
    position: absolute;
    top: -8px;
    width: 24px;
    z-index: 2 !important;
}

.jslider-value,
.jslider-scale,
.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label { display: none; }