

html {
    height: 100%;
}

body {
    background-color: #ECEFF1 !important;
    height: 100%;
}

.content-wrapper {
    height: calc(100% - 87px);
}

footer {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 85px;
    padding-left: 20px;
}

.print-only {
    display: none !important;
}

.print-only-block {
    display: none !important;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected-menu {
    display: inline-block;
    margin: 0;
    padding: 8px;
}

.selected-menu span {
    text-transform: none;
    font-size: 1.9em;
    margin: 0;
    color: #ffffff !important;
}

.text-diggity {
    color: #616161;
}

.diggity-page-bar {
    width: 100%;
    height: 61px;
    background-color: #37474f;
    margin-bottom: 5px;
}

.diggity-page-header {
    margin: 0;
    font-family: "Roboto";
    font-size: 32px;
    text-transform: none;
}

.diggity-panel {
    margin-bottom: 0 !important;
}

.diggity-menu {
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #598276;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 7px #696969;
    -ms-box-shadow: 1px 1px 7px #696969;
    box-shadow: 1px 1px 7px #696969;
}

.diggity-menu  .main {
    height: calc(100% - 170px);
    overflow: auto;
}

.diggity-menu.in {
    left: 0; 
}

.diggity-list-group > .list-group-item:hover{
    background-color: #ECEFF1;
}

.diggity-thumbnail  p{
    font-size: 1.6em;
    font-family: "Roboto";
    text-align: center;
}

.info-block {
    margin-top: 40px;
}

.diggity-list-group a{
    text-decoration: none;
}

.list-group-item.selected {
    background-color: #ECEFF1;
}

.list-group-item.selected h4 {
    color: #ffffff !important;
}

.diggity-menu-transition {
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.panel-title {
    font-size: 1.4em;
}

.btn-navigation i {
    color: #ffffff;
}

.btn-navigation i:hover {
    color: #000000;
}

i {
    vertical-align: middle;
}

.diggity-panel-header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecf0f1;
}

.diggity-panel-header h2 {
    margin: 5px;
}

.panel-toggle {
    position: absolute;
    right: 16px;
    margin-top: 5px;
    font-size: 18px;
    z-index: 1000;
    color: #37474f;
    cursor: pointer;
}

.panel-toggle button {
    margin-top: 0;
    margin-bottom: 5px;
}

/*.fa-panel-toggle:before {
    content: "\f062";
}

.fa-panel-toggle.down:before {
    /*content: "\f063";!1!
    -webkit-rotation: 90deg;
    -moz-rotation: 90deg;
    -ms-rotation: 90deg;
    -o-rotation: 90deg;
    rotation: 90deg;
}*/


.list-heading {
    font-weight: bold;
    height: 45px;
}

.list-heading h4 {
    margin: 0;
    width: 70%;
    float: left;
}


.list-heading .left {
    text-align: right;
    display: inline;
}

.list-heading .left input {
    width: 150px;
    height: 25px;
}

.list-heading span button {
    margin-left: 10px;
}

.list-heading span button:hover,.list-heading h4 a:hover {
    color: #000000;
}

.ready-timer {
    display: none;
    text-align: center;
}

.timer{
    margin: 0 auto;
    width: 99%;
}

    .timer ul {
        width: 22%;
        margin: 0;
        padding: 0;
        height: 580px;
        font-weight: bold;
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        display: inline-block;
    }
    
    .timer ul::-webkit-scrollbar {
        display: none;
    }

    .timer ul.spacer {
        width: 10% !important;
        cursor: default !important;
    }

.timer ul li {
    font-size: 44em;
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 580px;
    text-align: center;
    cursor: pointer;
}

.timer div {
    font-size: 3em;
    width: 50%;
}

.timer div i {
    cursor: pointer;
}
.timer div.right {
    float: right;
    text-align: right;
}
.timer div.left {
    float: left;
}

#left_box, #action_box {
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.timer-action-work {
    background: #43A047;
    color: #ffffff;
}

.timer-action-rest {
    background: #039BE5;
    color: #ffffff;
}

.timer-action-pause {
    background: #FFEB3B;
}

.timer-action-lessThenTen {
    color: #f44336;
}

.timer-action-ready {
    background: #CFD8DC;
}

@media (min-width: 319px) {
     #timer_box {
        height: 170px;
    }

    #left_box, #action_box {
        font-size: 5em;
    }

    .timer ul, .timer ul li {
        height: 130px;
    }

    .timer ul li {
        font-size: 8em;
    }
}

@media (min-width: 567px) {
     #timer_box {
        height: 240px;
    }

    #left_box, #action_box {
        font-size: 7em;
    }

    .timer ul, .timer ul li {
        height: 200px;
    }

    .timer ul li {
        font-size: 14em;
    }
}

@media (min-width: 768px) {
    #timer_box {
        height: 320px;
    }
    
    #left_box, #action_box {
        font-size: 9em;
    }

     .timer ul, .timer ul li {
        height: 300px;
    }

    .timer ul li {
        font-size: 20em;
    }
}

@media (min-width: 992px) {
    #timer_box {
        height: 528px;
    }

    #left_box, #action_box {
        font-size: 9em;
    }

    .timer ul, .timer ul li {
        height: 300px;
    }

    .timer ul li {
        font-size: 20em;
    }
}

@media (min-width: 1024px) {
    #timer_box {
        height: 410px;
    }

    #left_box, #action_box {
        font-size: 12em;
    }

    .timer ul,  .timer ul li {
         height: 400px;
     }

    .timer ul li {
        font-size: 26em;
    }
}


@media (min-width: 1200px) {
    #timer_box {
        height: 440px;
    }

    #left_box, #action_box {
        font-size: 13em;
    }

     .timer ul,  .timer ul li {
         height: 410px;
     }

    .timer ul li {
        font-size: 30em;
    }
}


@media (min-width: 1660px) {
    #timer_box {
        height: 580px;
    }

    #left_box, #action_box {
        font-size: 14em;
    }

     .timer ul,  .timer ul li {
         height: 530px;
     }

    .timer ul li {
        font-size: 40em;
    }
}


.number-panel {
    width: 292px;
    margin: 0 auto;
    margin-left: -290px;
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #708090;
}

.number-panel.in {
    margin-left: 0;
}

.number-panel .number {
    font-size: 4em;
    height: 90px;
    width: 90px;
    margin: 2px;
    border: 1px solid #ffffff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: #708090;
}

.number-panel .number:hover {
    background-color: #616161;
    color: #ffffff;
}


.check-group li{
    border: none;
}

.check-group li span {
    font-size: 1.5em;
}

.check-group li span:hover {
    cursor: pointer;
}
.test {
    border-color: #F7941E;
}

.panel-diggity {
  border-color: #5F6A6F;
}

.panel-diggity > .panel-heading {
  color: #ffffff;
  background-color: #5F6A6F;
  border-color: #5F6A6F;
}

.panel-diggity > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5F6A6F;
}

.panel-diggity > .panel-heading .badge {
  color: #5F6A6F;
  background-color: #ffffff;
}

.timer-btns button {
    margin-right: 10px;
}

.btn-round {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
}

.white {
    background-color: #ffffff;
    padding: 5px;
}

.nav-slide{
    background-color: #598276;
    width: 200px;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: -200px;
    margin-top: 50px;
    z-index: 2000;
}

#settings-menu {
    background-color: #598276;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    margin-top: 50px;
    z-index: 2000;
}

#settings-menu.in {
    right: 0;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.nav-slide.in{
    left: 0;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.nav-slide a{
    color: #ffffff;
}

.nav-slide ul li a:hover{
    background-color: #333333;
}

.text-bold {
    font-weight: bold;
}

.workout-tab {
    height: 100%; 
    overflow: auto;
    padding-top: 5px;
    width: 1150px;
    height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
    position: absolute;
    top: 0;
    left: -1100px;
    margin-top: 115px;
    z-index: 1500;
}

.short-underline {
    border-bottom: #598276 solid 1px;
}
.workout-col {
    border-right: #598276 solid 1px;
}

.workout-week-heading {
    display: table; 
    width: 100%
}

.workout-week-title {
    width: 90%; 
    display: table-cell
}

.workout-col.last {
    border-right: none;
}

.workout-tab.in {
    left: 100px;
}

.diggity-transition {
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

.print-btn-group {
    margin: 0;
    display: table-cell;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.nav-tabs {
    background-color: #455a64 !important;
    background: #455a64 !important;
    border: 1px solid #455a64 !important;
    -ms-border-radius: 0;
    border-radius: 0;
}

.nav-tabs li {
    cursor: pointer;
}

.nav-tabs li:hover {
    background: #b0bec5;
    color: #000000;
}

.nav-tabs li.active {
    background: #424242;;
}

.exercise-link a {
    color: #263238;
    text-decoration: none;
}
.exercise-link:hover {
    background: #b0bec5;
}

.edit-icon {
    float: right;
}

.diggity-list-icon {
    margin-left: 20px;
    color: #1A237E !important;
    font-size: 1.5em !important;
}

.list-group-item:hover h5 i {
    color: #f44336 !important;
}

.diggity-list-icon i {
    background: none !important;
    color: #1A237E !important;
    font-size: 1.5em !important;
}

.diggity-button {
    text-transform: none !important;
    padding: 8px !important;
}

/* http://www.dafont.com/gym.font */
@font-face {
    font-family: 'GYM';
    src: url('../fonts/GYM.ttf') format('truetype');
}
.gym {
    font: normal normal normal 14px/1 GYM;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.gym-large {
    font-size: 1.5em !important;
}

.gym-x-large {
    font-size: 2.5em !important;
}

.gym-xx-large {
    font-size: 3em !important;
}

.gym-bench-press:before {
    content: 'Y';
}

.gym-kettlebell:before {
    content: 'a';
}

.gym-dumbbell:before {
    content: 'V';
}

.gym-overhead-press:before {
    content: 'K';
}

.gym-dumbbell-sm:before {
    content: 'h';
}

.gym-barbell:before {
    content: 'u';
}

.df {
    font-family: "Roboto";
    font-size: 1em;
    font-weight: bold;
}

.df-x1-2 {
    font-size: 1.2em !important;
}

.df-x2 {
    font-size: 2em !important;
}

.df-percent:before {
    content: "%";
}

.df-wendler:before {
    content: "5/3/1";
}

.animate-show {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    /*width: 100%;*/
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}