
body {
    background-color: #fafafa !important;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.selected-menu {
    display: inline-block;
    margin: 0;
    padding: 8px;
}


.selected-menu i, .selected-menu span {
    color: #ffffff !important;
}

.selected-menu span {
    text-transform: none;
    font-size: 1.5em;
    margin: 0;
}

.diggity-page-bar {
    width: 100%;
    height: 61px;
    background-color: #37474F;
    margin-bottom: 15px;
}

.diggity-page-header {
    margin: 0;
    font-family: "Roboto";
    font-size: 32px;
    text-transform: none;
}

.diggity-menu {
    width: 239px;
    top: 61px;
    left: -239px;
    position: absolute;
    z-index: 1000;
    border: 1px solid #598276;
    background-color: #fff;
    box-shadow: 1px 1px 7px #696969;
}

.diggity-menu.in {
    left: 0; 
}

.list-group-item.selected {
    background-color: #598276;
    color: #ffffff;
}

.list-group-item.selected h4 {
    color: #ffffff !important;
}

.diggity-menu-transition {
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.panel-title {
    font-size: 1.4em;
}

.btn-navigation i {
    color: #ffffff;
}

.btn-navigation i:hover {
    color: #000000;
}

i {
    vertical-align: middle;
}

.diggity-panel-header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecf0f1;
}

.diggity-panel-header h2 {
    margin: 5px;
}

.panel-toggle {
    position: absolute;
    right: 16px;
    margin-top: 5px;
    font-size: 18px;
    z-index: 1000;
    color: #37474f;
    cursor: pointer;
}


/*.fa-panel-toggle:before {
    content: "\f062";
}

.fa-panel-toggle.down:before {
    /*content: "\f063";!1!
    -webkit-rotation: 90deg;
    -moz-rotation: 90deg;
    -ms-rotation: 90deg;
    -o-rotation: 90deg;
    rotation: 90deg;
}*/


.list-heading {
    font-weight: bold;
    height: 45px;
}

.list-heading h4 {
    margin: 0;
    width: 70%;
    float: left;
}


.list-heading .left {
    text-align: right;
    display: inline;
}

.list-heading .left input {
    width: 150px;
    height: 25px;
}

.list-heading span button {
    margin-left: 10px;
}

.list-heading span button:hover,.list-heading h4 a:hover {
    color: #000000;
}

.ready-timer {
    display: none;
    width: 100px !important;
}

.timer{
    margin: 0 auto;
    width: 990px;
    font-weight: bold;
}

    .timer ul {
        width: 220px;
        margin: 0;
        padding: 0;
        height: 360px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: auto;
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        display: inline-block;
    }
    
    .timer ul::-webkit-scrollbar {
        display: none;
    }

    .timer ul.spacer {
        width: 81px !important;
        cursor: default !important;
    }

.timer ul li {
    font-size: 24em;
    padding: 0;
    margin: 0;
    line-height: 1;
    /*border: 1px solid #ffffff;*/
    text-align: center;
    cursor: pointer;
    display: inline-block;
    /*background-color: #708090;*/
}

.timer div {
    font-size: 3em;
    width: 50%;
}

.timer div i {
    cursor: pointer;
}
.timer div.right {
    float: right;
    text-align: right;
}
.timer div.left {
    float: left;
}

@media only screen and (max-width: 992px) {
   .timer{ width: 80%;}
    .timer ul {
        width: 20%;
        height: 180px;
    }

    .timer ul li { font-size: 12em; }

}

@media only screen and (max-width: 768px) {
    .timer ul li {font-size: 8em;}
    .least-content{ position:relative !important;right: auto !important;}
}

.number-panel {
    width: 290px;
    margin: 0 auto;
}

.number-panel .number {
    font-size: 4em;
    height: 90px;
    width: 90px;
    margin: 2px;
    border: 1px solid #ffffff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: #708090;
}

.check-group li{
    border: none;
}

.check-group li span {
    font-size: 1.5em;
}

.check-group li span:hover {
    cursor: pointer;
}
.test {
    border-color: #F7941E;
}

.panel-diggity {
  border-color: #5F6A6F;
}

.panel-diggity > .panel-heading {
  color: #ffffff;
  background-color: #5F6A6F;
  border-color: #5F6A6F;
}

.panel-diggity > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5F6A6F;
}

.panel-diggity > .panel-heading .badge {
  color: #5F6A6F;
  background-color: #ffffff;
}

.timer-btns button {
    margin-right: 5px;
}

.btn-round {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
}

.white {
    background-color: #ffffff;
    padding: 5px;
}

.nav-slide{
    background-color: #598276;
    width: 200px;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: -200px;
    margin-top: 50px;
    z-index: 2000;
}

#settings-menu {
    background-color: #598276;
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    margin-top: 50px;
    z-index: 2000;
}

#settings-menu.in {
    right: 0;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.nav-slide.in{
    left: 0;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -ms-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

.nav-slide a{
    color: #ffffff;
}

.nav-slide ul li a:hover{
    background-color: #333333;
}

.text-bold {
    font-weight: bold;
}

.workout-tab {
    height: 100%; 
    overflow: auto;
    padding-top: 5px;
    width: 1150px;
    height: -moz-calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: calc(100% - 120px);
    position: absolute;
    top: 0;
    left: -1100px;
    margin-top: 115px;
    z-index: 1500;
}

.short-underline {
    border-bottom: #598276 solid 1px;
}
.workout-col {
    border-right: #598276 solid 1px;
}

.workout-week-heading {
    display: table; 
    width: 100%
}

.workout-week-title {
    width: 90%; 
    display: table-cell
}

.workout-col.last {
    border-right: none;
}

.workout-tab.in {
    left: 100px;
}

.diggity-transition {
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    transition: ease 1s;
}

.print-btn-group {
    margin: 0;
    display: table-cell;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.nav-tabs {
    background-color: #455a64 !important;
    background: #455a64 !important;
    border: 1px solid #455a64 !important;
    -ms-border-radius: 0;
    border-radius: 0;
}

.nav-tabs li {
    cursor: pointer;
}

.nav-tabs li:hover {
    background: #b0bec5;
    color: #000000;
}

.nav-tabs li.active {
    background: #424242;;
}

.exercise-link a {
    color: #263238;
    text-decoration: none;
}
.exercise-link:hover {
    background: #b0bec5;
}

.edit-icon {
    float: right;
}

.diggity-list-icon {
    margin-left: 20px;
    color: #1A237E !important;
    font-size: 1.5em !important;
}


.diggity-list-icon i {
    background: none !important;
    color: #1A237E !important;
    font-size: 1.5em !important;
}

.diggity-button {
    text-transform: none !important;
    padding: 8px !important;
}
