
body {
    margin-top: 60px;
}

.panel-title {
    font-size: 1.4em;
}

.btn-navigation i {
    color: #ffffff;
}

.btn-navigation i:hover {
    color: #000000;
}

i {
    vertical-align: middle;
}

.list-heading {
    font-weight: bold;
    height: 45px;
}

.list-heading h4 {
    margin: 0;
    width: 70%;
    float: left;
}


.list-heading .left {
    width: 25%;
    text-align: right;
    display: inline;
}

.list-heading .left input {
    width: 150px;
    height: 25px;
}

.list-heading span button {
    margin-left: 10px;
}

.list-heading span button:hover,.list-heading h4 a:hover {
    color: #000000;
}

.timer {
    margin: 0 auto;
    width: 900px;
    font-weight: bold;
}
.timer span {
    font-size: 20em;
    margin: 0;
}

.timer div {
    font-size: 3em;
    width: 50%;
}

.timer div i {
    cursor: pointer;
}
.timer div.right {
    float: right;
    text-align: right;
}
.timer div.left {
    float: left;
}

@media only screen and (max-width: 992px) {
   .timer span { font-size: 10em; }
}

@media only screen and (max-width: 768px) {
   .timer span { font-size: 8em; }
}