/*
VideoJS Default Styles (http://videojs.com)
Version 3.2.0
*/

.video-js,
.video-js * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.video-js {
    background-color: #000;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

.vjs-tech:focus, .vjs-poster:focus { outline: none; }

.video-js .vjs-tech {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.video-js:-moz-full-screen { position: absolute; }

/* Fullscreen Styles */

body.vjs-full-window {
    height: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.video-js.vjs-fullscreen {
    bottom: 0;
    height: 100% !important;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100% !important;
    z-index: 1000;
    _position: absolute;
}

.video-js:-webkit-full-screen {
    height: 100% !important;
    width: 100% !important;
}

/* Poster Styles */

.vjs-poster {
    cursor: pointer;
    margin: 0 auto;
    max-height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

/* Text Track Styles */

.video-js .vjs-text-track-display {
    bottom: 4em;
    left: 1em;
    position: absolute;
    right: 1em;
    text-align: center;
}

.video-js .vjs-text-track {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.50);
    color: #fff;
    display: none;
    font-size: 1.4em;
    margin-bottom: 0.1em;
    text-align: center;
}

.video-js .vjs-subtitles { color: #fff; }

.video-js .vjs-captions { color: #fc6; }

.vjs-tt-cue { display: block; }

/* Fading sytles, used to fade control bar. */

.vjs-fade-in, .vjs-fade-out {
    -moz-transition: visibility 0s linear 0s, opacity 0.3s linear;
    -ms-transition: visibility 0s linear 0s, opacity 0.3s linear;
    -o-transition: visibility 0s linear 0s, opacity 0.3s linear;
    -webkit-transition: visibility 0s linear 0s, opacity 0.3s linear;
    opacity: 1 !important;
    transition: visibility 0s linear 0s, opacity 0.3s linear;
    visibility: visible !important;
}

.vjs-fade-out {
    -moz-transition: visibility 0s linear 1.5s, opacity 1.5s linear;
    -ms-transition: visibility 0s linear 1.5s, opacity 1.5s linear;
    -o-transition: visibility 0s linear 1.5s, opacity 1.5s linear;
    -webkit-transition: visibility 0s linear 1.5s, opacity 1.5s linear;
    opacity: 0 !important;
    transition: visibility 0s linear 1.5s, opacity 1.5s linear;
    visibility: hidden !important;
}

/*-----------------------------------*/

/* Video Player Default Style */

/*-----------------------------------*/

.vjs-controls {
    background: #242424; /* Old browsers */
    background: -moz-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%, #242424), color-stop(50%, #1f1f1f), color-stop(100%, #171717)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* IE10+ */
    background: linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%); /* W3C */
    border-top: 1px solid #404040;
    bottom: 0;
    color: #fff;
    height: 2.6em;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
}

/* General styles for individual controls. */

.vjs-control {
    float: left;
    height: 2.6em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 2.6em;
}

.vjs-control:focus { outline: 0; }

/* Hide control text visually, but have it available for screenreaders: h5bp.com/v */

.vjs-control-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* Play/Pause
-------------------------------------------------------------------------------- */

.vjs-play-control {
    cursor: pointer !important;
    width: 5em;
}

/* Play Icon */

.vjs-paused .vjs-play-control div {
    background: url('../images/video-js.png');
    height: 17px;
    margin: 0.5em auto 0;
    width: 15px;
}

.vjs-playing .vjs-play-control div {
    background: url('../images/video-js.png') -25px 0;
    height: 17px;
    margin: 0.5em auto 0;
    width: 15px;
}

/* Rewind
-------------------------------------------------------------------------------- */

.vjs-rewind-control {
    cursor: pointer !important;
    width: 5em;
}

.vjs-rewind-control div {
    background: url('../images/video-js.png');
    height: 16px;
    margin: 0.5em auto 0;
    width: 19px;
}

/* Volume/Mute
-------------------------------------------------------------------------------- */

.vjs-mute-control {
    cursor: pointer !important;
    float: right;
    width: 3.8em;
}

.vjs-mute-control div {
    background: url('../images/video-js.png') -75px -25px;
    height: 16px;
    margin: 0.5em auto 0;
    width: 22px;
}

.vjs-mute-control.vjs-vol-0 div { background: url('../images/video-js.png') 0 -25px; }

.vjs-mute-control.vjs-vol-1 div { background: url('../images/video-js.png') -25px -25px; }

.vjs-mute-control.vjs-vol-2 div { background: url('../images/video-js.png') -50px -25px; }

.vjs-volume-control {
    float: right;
    width: 5em;
}

.vjs-volume-bar {
    background: #666;
    background: -moz-linear-gradient(top, #333, #666);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#666));
    background: -webkit-linear-gradient(top, #333, #666);
    background: -o-linear-gradient(top, #333, #666);
    background: -ms-linear-gradient(top, #333, #666);
    background: linear-gradient(top, #333, #666);
    border-radius: 0.3em;
    cursor: pointer !important;
    height: 0.6em;
    margin: 1em auto 0;
    position: relative;
    width: 5em;
}

.vjs-volume-level {
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
    background: -webkit-linear-gradient(top, #fff, #ccc);
    background: -o-linear-gradient(top, #fff, #ccc);
    background: -ms-linear-gradient(top, #fff, #ccc);
    background: linear-gradient(top, #fff, #ccc);
    border-radius: 0.3em;
    height: 0.6em;
    left: 0;
    position: absolute;
    top: 0;
}

.vjs-volume-handle {
    background: #ccc;
    border: 1px solid #fff;
    border-radius: 0.6em;
    height: 0.8em;
    left: 0;
    position: absolute;
    top: -0.2em;
    width: 0.8em;
}

/* Progress
-------------------------------------------------------------------------------- */

.vjs-progress-control {
    background: #333;
    background: -moz-linear-gradient(top, #222, #333);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
    background: -webkit-linear-gradient(top, #222, #333);
    background: -o-linear-gradient(top, #333, #222);
    background: -ms-linear-gradient(top, #333, #222);
    background: linear-gradient(top, #333, #222);
    border-bottom: 1px solid #1F1F1F;
    border-top: 1px solid #222;
    height: 1.0em;
    left: 4.8em;
    position: absolute;
    right: 4.8em;
    top: -1.3em;
    width: auto;
}

.vjs-progress-holder {
    background: #111;
    background: -moz-linear-gradient(top, #111, #262626);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#262626));
    background: -webkit-linear-gradient(top, #111, #262626);
    background: -o-linear-gradient(top, #111, #262626);
    background: -ms-linear-gradient(top, #111, #262626);
    background: linear-gradient(top, #111, #262626);
    border-radius: 0.6em;
    cursor: pointer !important;
    height: 1.0em;
    margin: 0;
    padding: 0;
    position: relative;
}

.vjs-progress-holder .vjs-play-progress,
.vjs-progress-holder .vjs-load-progress {
    border-radius: 0.6em;
    display: block;
    height: 1.0em;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.vjs-play-progress {
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(50%, #f5f5f5), color-stop(50%, #dbdbdb), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
    background: linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f1f1f1', GradientType=0);
}

.vjs-load-progress {
    background: #666;
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
    background: -webkit-linear-gradient(top, #666, #333);
    background: -o-linear-gradient(top, #666, #333);
    background: -ms-linear-gradient(top, #666, #333);
    background: linear-gradient(top, #666, #333);
    opacity: 0.8;
}

.vjs-seek-handle {
    -moz-box-shadow: 0 2px 4px 0 #000;
    -webkit-box-shadow: 0 2px 4px 0 #000;
    background: url('../images/video-js.png') 0 -50px;
    border-radius: 0.8em;
    box-shadow: 0 2px 4px 0 #000;
    height: 16px;
    left: 0;
    margin-top: -0.3em;
    position: absolute;
    top: 0;
    width: 16px;
}

/* Time Display
-------------------------------------------------------------------------------- */

.vjs-time-controls {
    background: #333;
    background: -moz-linear-gradient(top, #222, #333);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
    background: -webkit-linear-gradient(top, #222, #333);
    background: -o-linear-gradient(top, #333, #222);
    background: -ms-linear-gradient(top, #333, #222);
    background: linear-gradient(top, #333, #222);
    background-color: #333;
    border-bottom: 1px solid #1F1F1F;
    border-top: 1px solid #222;
    font-size: 1em;
    font-weight: normal;
    height: 1.0em;
    line-height: 1.0em;
    position: absolute;
    right: 0;
    top: -1.3em;
    width: 4.8em;
}

.vjs-current-time { left: 0; }

.vjs-duration { right: 0; }

.vjs-remaining-time {
    display: none;
    right: 0;
}

.vjs-time-divider { display: none; }

.vjs-time-control {
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
}

.vjs-time-control span { line-height: 25px; }

/* Fullscreen
-------------------------------------------------------------------------------- */

.vjs-secondary-controls { float: right; }

.vjs-fullscreen-control {
    cursor: pointer !important;
    float: right;
    width: 3.8em;
}

.vjs-fullscreen-control div {
    background: url('../images/video-js.png') -50px 0;
    height: 16px;
    margin: 0.5em auto 0;
    width: 16px;
}

.vjs-fullscreen .vjs-fullscreen-control div { background: url('../images/video-js.png') -75px 0; }

/* Big Play Button (at start)
---------------------------------------------------------*/

.vjs-big-play-button {
    cursor: pointer !important;
    height: 44px;
    left: 50%;
    margin: -44px 0 0 -22px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 44px;
    z-index: 2;
}

.vjs-big-play-button:hover { opacity: .8; }

.vjs-big-play-button span {
    background: #000;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    display: block;
    height: 44px;
    width: 44px;
}

.vjs-big-play-button span:after {
    border-bottom: 6px solid transparent;
    border-left: 8px solid #fff;
    border-top: 6px solid transparent;
    content: '';
    display: block;
    height: 0;
    left: 19px;
    position: absolute;
    top: 16px;
    width: 0;
}

/* Menu Buttons (Captions/Subtitles/etc.)
-------------------------------------------------------------------------------- */

.vjs-menu-button {
    background: #4d4d4d;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #3f3f3f), color-stop(50%, #333333), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -o-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -ms-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    border: 1px solid #111;
    border-radius: 0.3em;
    cursor: pointer !important;
    float: right;
    height: 2em;
    margin: 0.2em 0.5em 0 0;
    padding: 0;
    width: 3em;
}

/* Button Icon */

.vjs-menu-button div {
    background: url('../images/video-js.png') 0px -75px no-repeat;
    height: 16px;
    margin: 0.2em auto 0;
    padding: 0;
    width: 16px;
}

/* Button Pop-up Menu */

.vjs-menu-button ul {
    -moz-box-shadow: 0 2px 4px 0 #000;
    -webkit-box-shadow: 0 2px 4px 0 #000;
    background-color: #111;
    border: 2px solid #333;
    border-radius: .5em;
    bottom: 2em;
    box-shadow: 0 2px 4px 0 #000;
    display: none; /* Start hidden. Hover will show. */
    left: -3.5em; /* Width of menu - width of button / 2 */
    margin: 0;
    max-height: 15em;
    opacity: 0.8;
    overflow: auto;
    padding: 0;
    position: absolute;
    width: 10em;
}

.vjs-menu-button:focus ul,
.vjs-menu-button:hover ul {
    display: block;
    list-style: none;
}

.vjs-menu-button ul li {
    font-size: 1.2em;
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0.3em 0 0.3em 20px;
    text-align: left;
}

.vjs-menu-button ul li.vjs-selected {
    background: url('../images/video-js.png') -125px -50px no-repeat;
    text-decoration: underline;
}

.vjs-menu-button ul li:focus,
.vjs-menu-button ul li:hover,
.vjs-menu-button ul li.vjs-selected:focus,
.vjs-menu-button ul li.vjs-selected:hover {
    background-color: #ccc;
    color: #111;
    outline: 0;
}

.vjs-menu-button ul li.vjs-menu-title {
    background: #4d4d4d;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d4d4d), color-stop(50%, #3f3f3f), color-stop(50%, #333333), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -o-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: -ms-linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    background: linear-gradient(top, #4d4d4d 0%, #3f3f3f 50%, #333333 50%, #252525 100%);
    color: #fff;
    cursor: default;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    margin: 0 0 0.3em 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

/* Subtitles Button */

.vjs-captions-button div { background-position: -25px -75px; }

.vjs-chapters-button div { background-position: -100px -75px; }

.vjs-chapters-button ul {
    left: -8.5em; /* Width of menu - width of button / 2 */
    width: 20em;
}


/*-----------------------------------*/

/* Video Player Style 2 */

/*-----------------------------------*/

.video-player .video-js,
.video-player .video-js * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.video-player {
    margin-bottom: 30px;
    position: relative;
}

.video-player .video-js {
    border: 7px solid #fff;
    border-bottom: 0 none;
}

.video-player .vjs-fade-out,
.video-player .vjs-controls {
    opacity: 1 !important;
    visibility: visible !important;
}

.video-player .vjs-big-play-button span { border-radius: 0; }

.video-player .vjs-seek-handle { display: none; }

.video-player .vjs-controls {
    background: #fff;
    border: 0 none;
    bottom: 0;
    height: 55px;
    left: -7px;
    margin: 0;
    padding: 6px 7px;
    right: -7px;
}

.video-player .vjs-control,
.video-player .vjs-mute-control div,
.video-player .vjs-fullscreen-control div {
    height: 43px;
    margin: 0;
    width: 36px;
}

.video-player .vjs-fullscreen-control div,
.video-player .vjs-mute-control div,
.video-player .vjs-play-control div {
    -webkit-font-smoothing: antialiased;
    background: none;
    color: #97a2ad;
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
}

.video-player .vjs-fullscreen-control div:before,
.video-player .vjs-mute-control div:before {
    display: block;
    height: 43px;
    line-height: 41px;
    text-align: center;
    width: 36px;
}

.video-player .vjs-fullscreen-control div:before { content: '\e140'; }

.video-player .vjs-mute-control div:before { content: '\e038'; }

.video-player .vjs-mute-control.vjs-vol-1 div:before, .video-player .vjs-mute-control.vjs-vol-2 div:before { content: '\e037'; }

.video-player .vjs-mute-control.vjs-vol-0 div:before { content: '\e036'; }

.video-player .vjs-paused .vjs-play-control,
.video-player .vjs-playing .vjs-play-control,
.video-player .vjs-paused .vjs-play-control div,
.video-player .vjs-playing .vjs-play-control div {
    background: #3bbec0;
    color: #fff;
    height: 43px;
    line-height: 39px;
    margin: 0;
    width: 44px;
}

.video-player .vjs-paused .vjs-play-control div:before { content: '\e072'; }

.video-player .vjs-playing .vjs-play-control div:before { content: '\e073'; }

.video-player .vjs-progress-control {
    background: #97a2ad;
    border: 0 none;
    height: 7px;
    left: 116px;
    padding: 0 1px;
    position: absolute;
    right: 168px;
    top: 24px;
    width: auto;
}

.video-player .vjs-progress-holder { background: transparent; }

.video-player .vjs-progress-holder .vjs-load-progress,
.video-player .vjs-progress-holder .vjs-play-progress {
    border: 0 none;
    border-radius: 0;
    height: 3px;
    top: 2px;
}

.video-player .vjs-progress-holder .vjs-play-progress {
    background: #313a43;
    min-width: 0;
}

.video-player .vjs-progress-holder .vjs-load-progress { background: #8C969E; }

.video-player .vjs-time-controls {
    background: transparent;
    border: 0 none;
    color: #97a2ad;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 110px;
    top: 21px;
    width: 44px;
}

.video-player .vjs-current-time { left: 60px; }

.video-player .vjs-volume-bar,
.video-player .vjs-volume-level {
    background-image: url(../images/video-controls.png);
    background-repeat: no-repeat;
}

.video-player .vjs-volume-bar {
    background-position: 0 -11px;
    border-radius: 0;
    height: 9px;
    margin: 17px auto 0;
    position: relative;
    width: 34px;
}

.video-player .vjs-volume-level {
    background-position: 0 0;
    border-radius: 0;
    height: 9px;
    left: 0;
    position: absolute;
    top: 0;
}

.video-player .vjs-volume-handle {
    background: transparent;
    border: 0 none;
    height: 0;
    width: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
    .video-player .vjs-volume-bar,
    .video-player .vjs-volume-level {
        background-image: url(../images/video-controls-x2.png);
        background-size: 34px 20px;
    }
}