<div class="panel panel-diggity">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Heros</div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchHeros.Name">
                    <div class="input-group-btn">
                        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" ng-click="showAddGirl = true"><span class="fa fa-plus-square-o"></span> New Hero PR</a></li>
                            <li><a href="javascript:void(0)" ng-click="sortHeroHistoy(0)"><span class="fa fa-sort-asc"></span> Sort Most Recent</a></li>
                            <li><a href="javascript:void(0)" ng-click="sortHeroHistoy(1)"><span class="fa fa-sort-asc"></span> Sort Best Effort</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--<div style="margin: 10px;" ng-show="showAddPr">
        <pr-entry></pr-entry>
    </div>-->

    <div class="clearfix"></div>
    <table class="table table-condensed table-hover" ng-hide="loadingHeroHistory">
        <tbody ng-repeat="hero in heroHistory | filter:searchHeros">
            <tr ng-class="{active: hero.selected}" ng-click="selectRow(this)" ng-hide="hero.showEditHistory">
                <td>{{hero.Name}}</td>
                <td>{{hero.Time}}</td>
                <td>On {{hero.RecordDate}}</td>
                <td><a href="javascript:void(0)" tooltip="Show Graph"><span class="glyphicon glyphicon-stats text-info"></span></a></td>
                <td><a href="javascript:void(0)" tooltip="Edit" ng-click="editHeroHistory(this)"><span class="fa fa-bold fa-edit text-info"></span></a></td>
            </tr>
            <tr ng-show="hero.showEditHistory">
                <td colspan="5">
                    <div class="panel panel-diggity" style="margin-bottom: 0">
                        <div class="text-success">
                            <div class="panel-title">
                                <div class="panel-heading panel-material-amber-300">
                                    {{hero.Name}}
                                    <button type="button" class="close" ng-click="hero.showEditHistory = false;" tooltip="Close">
                                        <span class="text-info">&times;</span><span class="sr-only">Close</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <edit-hero-record record="editHeroHistory"
                                          ng-repeat="editHistory in editHeroHistoryRecords"
                                          open-datepicker="openDatePicker($event)">
                        </edit-hero-record>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="loadingHeroHistory">
        <span class="form-control">Loading Hero History . . <i class="fa fa-spin fa-spinner"></i></span>
    </div>
</div>