

<div class="form-group">
    <div class=" list-group">
        
        <div class="list-group-item">
            <div class="row-action-primary diggity-list-icon">
                <i class="mdi-action-settings-input-composite"></i>
            </div>
            <div class="row-content">
                <a href="#settings" ng-click="showPreferencesForm()">
                    <h4 class="text-primary" style="font-weight: bold">Preferences</h4>
                    <p id="preferences_form_text" class="diggity-text">Enter or update your preferred units of measure</p>
                </a>
                <user-preferences-form id="preferences_form" style="display: none;"></user-preferences-form>
            </div>
        </div>
        <div class="list-group-separator"></div>

        <div class="list-group-item">
            <div class="row-action-primary diggity-list-icon">
                <i class="mdi-communication-quick-contacts-mail"></i>
            </div>
            <div class="row-content">
                <a href="Account/Manage" ng-click="editAccountInfo()">
                    <h4 class="text-primary" style="font-weight: bold">Manage Account</h4>
                    <p id="account_info_text" class="diggity-text">Update name, email and password</p>
                </a>
                <edit-account-info id="account_info" style="display: none"></edit-account-info>
            </div>
        </div>
        <div class="list-group-separator"></div>

        <div class="list-group-item">
            <div class="row-action-primary diggity-list-icon">
                <i class="mdi-maps-place"></i>
            </div>
            <div class="row-content">
                <a href="#settings" ng-click="showBoxInfo()">
                    <h4 class="text-primary" style="font-weight: bold">Your Box</h4>
                    <p id="box_info_text" class="diggity-text">Select or update your Box</p>
                </a>
                <box-info-form id="box_info" style="display: none;"></box-info-form>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>





